@font-face {
  font-family: 'TeXGyreBonum Regular';
  src: local('TeXGyreBonum Regular'), url(./../../../assets/fonts/texgyrebonum-regular.otf) format('opentype');
}

.chartContainer {
  max-width: 70%;
  width: 100%;
  box-shadow: var(--app-shadow-color) 14px 14px;
  background-image: var(--app-background);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  border-radius: 8px;
  border: 2px solid var(--app-border-color);
  margin: auto;
  align-self: center;
}

.chartTooltip {
  color: #2c7cdc;
  background-color: var(--app-background-color);
  border: 2px solid var(--text-subtitle-color);
  padding: 0 10px;
  border-radius: 8px;
  text-align: center;
  width: 20em;
}

.topLegend-chart {
  font-size: 18px !important;
  font-family: "TeXGyreBonum Regular", sans-serif !important;
}

.chartContainer span{
  font-size: 22px !important;
  font-family: "TeXGyreBonum Regular", sans-serif !important;
  margin: 10px;
}

.chartContainer ul{
  margin-bottom: 20px !important;
}
