.main-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  position: absolute;
}
.banner-image {
  position: fixed;
  width: 100%;
  height: auto;
  opacity: 60%;
}
.navbar-logo {
  position: relative;
  width: 200px;
	height: auto;
  top: 20px;
  left: 60px;
}
.scroll-wrapper {
  position:absolute;
  width: 100%;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 2.5rem;
  margin-left: 2rem;
}
.selector-wrapper {
  flex: 0 0 30%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  background-color: white;
  -moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;
}
.map-selector {
  margin: 30px;
}
.map-wrapper {
  flex: 0 0 65%;
  background-color: azure;
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;
}
.map-container {
  width: auto;
  height: auto;
}
