.container {
    max-width: 100%;
    padding-right: 16px;
    width: 1000px;
}

.mapa {
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;
}

.mapa g {
    cursor: pointer;
}

.tooltip {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.tooltipSubText {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.legend-numbers {
    font-size: 12px;
    margin: 8px;
}

.legend-color {
    margin: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 0px;
}

.legend-box {
  display: flex;
  align-items: center;
}

.map-region {
    stroke:'#FFFFFF';
    stroke-width: 0.5;
}

.map-region:hover {
    stroke: red;
    stroke-width: 2
}

.__react_component_tooltip.place-bottom::after,
.__react_component_tooltip.place-top::after,
.__react_component_tooltip.place-left::after,
.__react_component_tooltip.place-right::after {
    border: 1px solid transparent;
}

.map-displayer {
  height: 100%;
  width: auto;
  position: relative;
}

.spain-map {
  width: 100%;
  height: 100%;
}
